.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;

  img {
    width: 100%;
  }
}
.my-message {
  // background: var(--ion-color-tertiary);
  background: rgb(216, 252, 253);
  color: rgb(0, 0, 0);
  font-size: small;
  // color: #fff;
}
.other-message {
  // background: var(--ion-color-medium);
  // color: #fff;
  // background: var(--ion-color-light);
  background: rgba(255, 245, 216, 0.986);
  color: rgb(0, 0, 0);
  font-size: small;
}

.time {
  // color: #dfdfdf;
  color: var(--ion-color-medium);
  float: right;
  font-size: x-small;
  font-style: italic;
}

.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-secondary);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  resize: none;
}
