.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;

    img {
      width: 100%;
    }
  }
  .my-message {
    // background: var(--ion-color-tertiary);
    background: darkslategray;
    color:white;
    // color: #fff;
  }
  .other-message {
    // background: var(--ion-color-medium);
    // color: #fff;
    // background: var(--ion-color-light);
    background: rgb(61, 59, 59);
    color: white;
  }

.time {
  // color: #dfdfdf;
  color: var(--ion-color-medium);
  float: right;
  font-size: small;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: rgb(39, 38, 38);
    color: white;
    resize: none;
}

