<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-right">
      <ion-back-button
        text=""
        defaultHref="tasktracker/group-chat"
      ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{ chat?.title }}</ion-title> -->

    <ion-chip class="ion-margin-start" color="primary">
      <ion-avatar>
        <text-avatar text="{{chatTitle}}"></text-avatar>
      </ion-avatar>
      <ion-label>{{ chatTitle }}</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <!-- <ion-button  fill="clear" (click)="leave()">
        Leave Group
      </ion-button> -->
      <!-- <ion-button *ngIf="leaveGroupFlag" fill="clear" (click)="leave()">
        Leave
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
  <ion-list
    class="ion-no-padding ion-no-margin"
    lines="none"
    detail="false"
    ngDefaultControl
    [(ngModel)]="messages"
    name="lstmessages"
    #lstmessages
    *ngFor="let message of messages | async"
  >
    <!-- <strong> <small>{{ message.user }} </small></strong><br />
        <span
          >{{ message.msg }}
          <img [src]="message.file" *ngIf="message.file" />
        </span>

        <div class="time ion-text-right">
          <br />{{ message.createdAt?.toMillis() | date:'short' }}
        </div> -->

    <ion-chip
      *ngIf="message.from !== currentFirebaseUserId"
      slot="end"
      color="warning"
      outline="false"
      style="height: auto; float: left !important"
    >
      <ion-label>
       <small><b> {{ message.user }}</b></small>
        <ion-note
          ><p>{{message.msg}}</p>

          <ion-label position="stacked">
            <img [src]="message.file" *ngIf="message.file" />
            <ion-note position="stacked"
              ><p>
                <small class="time ion-text-right"
                  >{{ message.createdAt?.toMillis() | date:'short' }}</small
                >
              </p>
            </ion-note></ion-label
          >
        </ion-note>
      </ion-label>
      <!--  -->
    </ion-chip>

    <ion-chip
      *ngIf="message.from === currentFirebaseUserId"
      slot="end"
      color="secondary"
      style="height: auto; float: right !important"
    >
      <ion-label>
        <small><b> {{ message.user }}</b></small>
        <ion-note
          ><p>{{message.msg}}</p>

          <ion-label position="stacked">
            <img [src]="message.file" *ngIf="message.file" />
            <ion-note position="stacked"
              ><p>
                <small class="time ion-text-right"
                  >{{ message.createdAt?.toMillis() | date:'short' }}</small
                >
              </p>
            </ion-note></ion-label
          >
        </ion-note>
      </ion-label>
      <!-- <small class="time ion-text-right">{{ message.createdAt?.toMillis() | date:'short' }}</small> -->
      <!-- <ion-label>
        <ion-label position="fixed">
          <b> <small>{{ message.user }} </small></b></ion-label
        >
        <ion-label> <ion-text> {{ message.msg}} </ion-text></ion-label>
        <ion-label>
          <p><img [src]="message.file" *ngIf="message.file" /></p>
        </ion-label>
        <ion-label>
          <ion-note class="time ion-text-right">
            <p>
              <small>{{ message.createdAt?.toMillis() | date:'short' }}</small>
            </p>
          </ion-note>
        </ion-label>
      </ion-label> -->
    </ion-chip>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="sendFileCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="sendFileGallery()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-textarea
            class="message-input"
            rows="1"
            [(ngModel)]="newMsg"
          ></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <!-- style="padding-bottom: 20px;" -->
          <ion-button
            fill="clear"
            color="primary"
            [disabled]="newMsg === ''"
            (click)="sendMessage()"
          >
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <!-- <ion-toolbar color="light">
    <ion-item>
      <ion-row>
        <ion-col size="10">
          <ion-textarea class="message-input" #input rows="1" maxLength="500" (keyup)="resize()" 
          [(ngModel)]="newMsg"></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" color="primary" [disabled]="newMsg === ''" (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-toolbar> -->
</ion-footer>
