<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/group-chat"></ion-back-button>
    </ion-buttons>
    <ion-title>Creating a new Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Signed in as: {{ currentUserEmail }}
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input placeholder="Please enter a name for this new group" [(ngModel)]="title"></ion-input>
  </ion-item>
<br>

  <!-- shows users added to this group -->
  <ion-item-divider *ngIf="users.length!=0">
    <!-- <ion-label *ngIf="(users | async)?.length!=0"> -->
    <ion-label>
      Users added to this group
    </ion-label>
  </ion-item-divider>
  <ion-item *ngFor="let usr of users">
    <ion-label>
      {{ usr.email }}
      <p>{{ usr.nickname }}</p>
    </ion-label>
  </ion-item>

<br><br>
  <ion-item-divider>
    <ion-label>
      Contacts (All Available Users)
    </ion-label>
  </ion-item-divider>
  <ion-item button *ngFor="let item of listOfUsers;">
    <ion-label>
      {{ item.payload.doc.data().email }}
      <p>{{ item.payload.doc.data().userName }}</p>
    </ion-label>
    <ion-button icon-only (click)="addUser(item.payload.doc.data().email)">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <!-- Keep either a button or a routerlink--both togather will not work -->
    <!-- <ion-button icon-only (click)="oneOnOneChat(item.payload.doc.data().email,item.payload.doc.data().nickname)">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-button> -->
    <!-- <ion-button icon-only>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> -->
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="light" expand="full" fill="clear" [disabled]="title == '' || users.length == 0" 
    (click)="createGroup()">Start
      Group</ion-button>
  </ion-toolbar>
</ion-footer>
